* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-family: Arial, Helvetica, sans-serif;
}

.page {
    display: flex;
    flex-direction: column;
    min-height: 100dvh;
}

header, footer {
    flex-shrink: 0; /* Prevents the header and footer from shrinking */
    padding: 10px;
}

header {
    border-bottom: 1px solid #000000;
}

nav {
    display: flex;
    align-items: center;
}

.logo {
    width: 45px;
    margin-right: 10px;
}

main {
    display: flex;
    flex-grow: 1; /* The main section will grow to fill the remaining space */
}

.left-column, .right-column {
    display: none;
}

.centre-column {
    width: 100vw;
    padding: 10px;
}

footer {
    border-top: 1px solid #000000;
}

/* DEVICE SIZE BREAKPOINTS */

/* Extra small devices (phones, less than 576px) */
@media (max-width: 575.98px) {
    /* CSS rules for phones */

}
  
/* Small devices (phones, 576px and up) */
@media (min-width: 576px) {
    /* CSS rules for small devices */
    header, footer {
        padding: 20px;
    }

    .left-column, .right-column {
        display: block;
        flex-grow: 1;
    }
    
    .centre-column {
        flex-grow: 0;
        flex-shrink: 0;
        width: 56vw;
        max-width: 1200px;
        border-left: 1px solid #000000;
        border-right: 1px solid #000000;
    }

}
  
/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
    /* CSS rules for tablets */
}
  
/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
    /* CSS rules for desktops */
}
  
/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
    /* CSS rules for large desktops */
}